<head>
</head>

<body id='body'>
  <div>
    <mat-accordion class='matPadding'>
      <mat-expansion-panel id='panelOptions'>
        <mat-expansion-panel-header id='options'>
          <mat-panel-title> OPTIONS </mat-panel-title>
        </mat-expansion-panel-header>
        <label class="label">1. Change layout theme </label><br>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="checkedTheme">
          <mat-radio-button class="example-radio-button" value="light" id="light" (click)="radioClick('light')"> Light
          </mat-radio-button>
          <br>
          <mat-radio-button class="example-radio-button" value="dark" id="dark" (click)="radioClick('dark')"> Dark
          </mat-radio-button>
        </mat-radio-group>
        <div class='option'>
          <label for="quantity">2. Number of loaded elements (15-30) </label>
          <input type="number" id="quantity" [(ngModel)]="quantity" name="quantity" min="15" max="30">
          <input type="submit" (click)="changeNumber(quantity)" value='Change!'>
          <br>
        </div>
        <div class='option'>
          <label>3. Sort by </label>
          <select [(ngModel)]="sortValue">
            <option>Name</option>
            <option>Price</option>
            <option>Type</option>
          </select>
          <input type="submit" value='Sort!' (click)='sort(sortValue)'>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class=" content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start">
    <div fxFlex="30" id="sec1" class="sec1"> <select [(ngModel)]="beerValue1" (change)='selectChangeHandler1($event)'
        class="options1">
        <option *ngFor="let item of brewers " value="{{item}}"> {{item}} </option>
      </select>
      <table class='tab'>
        <tr>
          <th> </th>
          <th> </th>
          <th>Name</th>
          <th>Type</th>
          <th>Price</th>
        </tr>
        <tr class='tabContent' *ngFor="let data of beerInfoSliced1; let i=index">
          <td>{{i+1}}</td>
          <td><img class='imgProp' id='imgProp' data-lightbox="mygallery" src={{data.image_url}} (click)="open(1,i)"
              onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png';">
          </td>
          <td>{{data.name}}</td>
          <td>{{data.type}}</td>
          <td>{{data.price}}</td>
        </tr>
      </table>
      <button id='btn1' (click)="loadMore(1)">Load More</button>
      <div id="myModal" class="modal">
        <span id="close">&times; </span>
        <img class="modal-content" id="img01" src=''>
        <div id="caption"></div>
      </div>
    </div>
    <div fxFlex="30" id="sec2" class="sec2">
      <select (change)='selectChangeHandler2($event)' [(ngModel)]="beerValue2" class="options2">
        <option *ngFor="let item of brewers " value="{{item}}"> {{item}} </option>
      </select>
      <table class='tab'>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Type</th>
          <th>Price</th>
          <!-- <th>Picture</th> -->
        </tr>
        <tr class='tabContent' *ngFor="let data of beerInfoSliced2; let i=index">
          <td>{{i+1}}</td>
          <td><img class='imgProp' data-lightbox="mygallery" src={{data.image_url}} (click)="open(2, i)"
              onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png';">
          </td>
          <td>{{data.name}}</td>
          <td>{{data.type}}</td>
          <td>{{data.price}}</td>
        </tr>
      </table>
      <button id='btn2' (click)="loadMore(2)">Load More</button>
      <div id="myModal2" class="modal">
        <span id="close2">&times; </span>
        <img class="modal-content" id="img02" src=''>
        <div id="caption"></div>
      </div>
    </div>
    <div fxFlex="30" id="sec3" class="sec3">
      <select (change)='selectChangeHandler3($event)' class="options3" [(ngModel)]="beerValue3">
        <option *ngFor="let item of brewers " value="{{item}}"> {{item}} </option>
      </select>
      <table class='tab'>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Type</th>
          <th>Price</th>
        </tr>
        <tr class='tabContent' *ngFor="let data of beerInfoSliced3; let i=index">
          <td>{{i+1}}</td>
          <td><img class='imgProp' data-lightbox="mygallery" src={{data.image_url}} (click)="open(3,i)"
              onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png';">
          </td>
          <td>{{data.name}}</td>
          <td>{{data.type}}</td>
          <td>{{data.price}}</td>
        </tr>
      </table>
      <button id='btn3' (click)="loadMore(3)">Load More</button>
      <div id="myModal3" class="modal">
        <span id="close3">&times; </span>
        <img class="modal-content" id="img03" src=''>
        <div id="caption"></div>
      </div>
    </div>
  </div>
</body>