
.sec1, .sec2, .sec3 {
  padding-top:20px;
  text-align:center;
  text-transform:uppercase;
  color:white;

}
#sec {
  background: rgb(238, 182, 109);

}
body {
background-color: rgb(238, 216, 176);
}
.tab, .tabContent {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-spacing: 10px;

}
.tabContent {
  color: black;
}

.imgProp {
  border-radius:50%;
  width: 40px;
  height: 40px;
  transition: 1s;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
#close2{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
#close3{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
#options {
  /* margin-left: 5px; */
  background-color: rgb(233, 173, 95);

}
#panelOptions {
  /* margin-left: 5px; */
  background-color: rgb(233, 173, 95);

}
.matPadding .option {
    margin-right: 5px;

}

.option {
  margin-top: 8px;
}

#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#close2:hover,
#close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#close3:hover,
#close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.imgProp:hover {
  filter: grayscale();
  transform: scale(1.1);
cursor: pointer;
}
.options {
  width: 50%;
  margin: auto;
  border: 3px;
  padding: 10px;
  color: black;
  /* min-width: 60px */
}
.content {
  min-width: 300px;
  /*height: 400px;*/
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
